@import "./global.scss";
// .contact_body{
//     width: 80%;
//     height: 70%;
//     margin: 10%;
//   }

.contact-title{
  text-align: center;
  font-size: 3rem;
  padding: 15% 0 5% 0;
}
.contact-form {
    // padding: 1.5rem 0;
    position: relative;
    width: 80%;
    height: 400px;
    box-sizing: border-box;
    margin:20px ;
    background-color: $--color-9;
// display: flex;
// flex-direction: column;
  }
  .contact-item{
    margin: 15px 10%;
    width: 80%;
    // flex-grow: 1;
    box-sizing: border-box;
  }

  .contact-name{
    // margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


.firstname, .lastname{
  flex-grow: 1;
  margin-top: 3rem;
}

//for email and message only
  .input-control{
    width: 100%;
  }
  // control all inputy style
  input[type="text"],.input-control{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  }
  .input-control:focus, input[type="text"]:focus{
    border-bottom: 2px solid $--color-6;
  }

  label {
    display: block;
    // padding: 12px 12px 12px 0;
    // display: inline-block;
    font-size: 1.5rem;
  }
  .btn-submit{
    background-color: $--color-5;
    border-radius: 5px;
    width: 120px;
    // margin-bottom: 20px;
    cursor: pointer;
  }